{% extends 'base.html' %}
{% block content %}
<br><br>
<h5 class="container text-center text-dark">Please Login</h5>

<div class="card mb-3 text-center container mt-5">
  <div class="row g-0">
    <div>
      <div class="card-body">
        {% if error %}
        <div class="alert alert-danger mt-3" role="alert">
          {{ error }}
        </div>
        {% endif %}
        <p class="card-text">
          <form method="POST" class="container form-control text-dark">
            {% csrf_token %}
          
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">
              Login
            </button>
          </form>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}