

{% extends 'base.html' %}
{% block content %} 
<div class="bg-white">
<h3 class="container pt-3 mt-3 text-center">Latest Tech News</h3>
{% for news in newss %}
<div class="card mb-3 container pt-3 mt-5">
  <div class="row g-0">
    <div>
      <div class="card-body">
        <a class="container text-decoration-none"><h5 class="card-title">{{ news.headline }}</h5></a>
        <p class="card-text">{{ news.body }}</p>
        <p class="card-text">
          <small class="text-muted"> {{ news.date }} </small>
        </p>
      </div>
    </div>
  </div>
</div>
{% endfor %} 

</div>

{% endblock content %}

{% block footer %}

{% endblock footer %}
